.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px
}

.nav-links{
    list-style: none;
    gap: 30px;
    padding-left: 0;
}

@media (max-width: 48.5rem) { 
    .nav-links li:not(:last-child){ 
        display: none;
     }
 }